@inherits LayoutComponentBase
@using Jam.Shared
@inject ConfigService Config
@inject MusicService Music

@if(!Config.Authenticated)
{
    <LoginPopup />
}else
{
    <main>
        <Navbar />

        <article class="content">
            @Body
        </article>
    </main>
}

<style>
    main::-webkit-scrollbar 
    {
    display: none;
    } 

    .content
    {
    background-color: var(--jam-background);
    border-radius: 25px;
    padding: 1.5rem !important;
    min-height: calc(100% + 3.5rem);
    }
</style>

@code
{
    protected override void OnInitialized()
    {
        Music.RefreshHook += Refresh;
    }

    void Refresh()
    {
        StateHasChanged();
    }

    void Dispose()
    {
        Music.RefreshHook -= Refresh;
    }
}