@page "/"

<PageTitle>Jam.</PageTitle>

<h1>Jam.</h1>
<p>Jam is a local audio streaming service.</p>

<h2>Jam</h2>
<h3>Jam</h3>
<h4>Jam</h4>
<h5>Jam</h5>
<h6>Jam</h6>
<p>This is Jam</p>

<p>Check out our <a href="">code</a></p>

<h3>Taylor Swift</h3>
<p>Taylor Swift was 2024's Top Artist!</p>
<h3>Bruno Mars</h3>
<h3>The Weekend</h3>

<Button>Follow</Button>

<Button>Unfollow</Button>