@page "/play"

<PageTitle>Jam. - Play</PageTitle>

<div class="container">
    <div class="cover">
        
    </div>
</div>

<style>
    .cover
    {
        width: 400px;
        height: 400px;
        background-color: red;
    }
    
    .container
    {
        background-color: blue;
    }
</style>