@page "/play"
@using Jam.Shared
@using Jelly

<PageTitle>Jam. - Play</PageTitle>

<div class="container">

    <div class="row">

        <div class="col-4"></div>

        <div class="col-4">

            <Player Song=@Song />

        </div>

        <div class="col-4"></div>
    </div>
</div>

@code
{
    public SongEntity Song = null!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        Song = new SongEntity();
        Song.SongName = "Name";
        Song.AlbumName = "Album";
        Song.ArtistName = "Artist";
        Song.CoverURL = "https://picsum.photos/500";
    }
}