@page "/play"
@using Jam.Shared
@using Jelly
@inject MusicService Music

<PageTitle>Jam. - Play</PageTitle>

<div class="container">

    <div class="row">

        <div class="d-none d-md-block col-md-4 text-center">
            <br>
            <h2>Last Played</h2>
            <br>
            @foreach(var pair in Music.History)
            {
                <h5 class="autoscroll">@pair.SongName</h5>
            }
        </div>

        <div class="col-12 col-md-4">

            <PlayerMenu
            Song=@Music.ActiveSong 
            OnBack="() => Music.LastSong()"
            OnForward="() => Music.NextSong()"
            OnAction="() => Music.ToggleAction()"
            />

        </div>

        <div class="d-none d-md-block col-md-4 text-center">
            <br>
            <h2>Up Next!</h2>
            <br>
            @foreach(var pair in Music.Upcoming)
            {
                <h5 class="autoscroll">@pair.SongName</h5>
            }
        </div>
    </div>
</div>