@page "/play"
@using Jam.Shared
@using Jelly
@inject HttpClient Http
@inject ConfigService Config

<PageTitle>Jam. - Play</PageTitle>

<div class="container">

    <div class="row">

        <div class="col-4"></div>

        <div class="col-4">

            <Player Song=@Song />

        </div>

        <div class="col-4"></div>
    </div>
</div>

@code
{
    public AlbumEntity Selected = null!;
    public SongEntity Song = null!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Selected = await Http.GetFromJsonAsync<AlbumEntity>($"{Config.ApiUrl}/api/getalbum/{1}");

            Song = await Http.GetFromJsonAsync<SongEntity>($"{Config.ApiUrl}/api/getsong/{Selected.SongIDs[0]}");
        }catch
        {
            Console.WriteLine("NO worky");
        }
    }
}