@page "/play"
@using Jam.Shared
@using Jelly
@inject AudioService Audio

<PageTitle>Jam. - Play</PageTitle>

<div class="container">

    <div class="row">

        <div class="col-4 text-center">
            <br>
            <h2>Last Played</h2>
            <br>
            @foreach(var pair in Audio.History)
            {
                <h5 class="autoscroll">@pair.SongName</h5>
            }
        </div>

        <div class="col-4">

            <Player 
            Song=@Audio.Current 
            OnBack="() => Audio.LastSong()"
            OnForward="() => Audio.NextSong()"
            OnAction="() => Audio.ToggleAction()"
            />

        </div>

        <div class="col-4 text-center">
            <br>
            <h2>Up Next!</h2>
            <br>
            @foreach(var pair in Audio.Upcoming)
            {
                <h5 class="autoscroll">@pair.SongName</h5>
            }
        </div>
    </div>
</div>