<div class="topbar">
    <a href=""><h2>Jam.</h2></a>
    
    <a href="play"><h4>Play</h4></a>
</div>

<style>
    .topbar
    {
        user-select: none;
        height: 3.5rem;
        background-color: var(--jam-secondary);
    }
    
    .topbar h4
    {
        color: var(--jam-background);
        margin-left: 1.00rem;
        display: inline;
    }
    
    .topbar h4:hover
    {
        color: var(--jam-header);
    }
    
    .topbar h2
    {
        color: var(--jam-background);
        margin-left: 1.50rem;
        display: inline;
    }
    
    .topbar h2:hover
    {
        color: var(--jam-header);
    }
</style>